/* =================================
  tags
==================================== */
body {
  background-color: black;
  color: white;
  font-family: acumin-pro-semi-condensed, sans-serif;
}

h1 {
  font-family: neue-haas-grotesk-display, sans-serif;
  color: white;
  font-size: 120px;
}

/* =================================
  class
==================================== */
.section-topcover {
  background-image: url("../img/samplephoto.jpg");
  background-size: cover;
}

.name a {
  text-decoration: none;
  color: #D5D5D5;
}

.main-nav {
  width: 150px;
  list-style: none;
}

.mail {
  width: 30px;
}

.insta {
  width: 25px;
}

.twitter {
  width: 25px;
}

.coverTitle {
  font-size: 200px;
  margin-bottom: 100px;
}

.arrow {
  margin-top: 100px;
  width: 50px;
}

.container .section-title {
  line-height: 0.9;
}
/* =================================
  id
==================================== */

#cover {
  text-align: center;
  height: 800px;
}

#hello {
  margin-top: 300px
}

#copyright {
  text-align: center;
}


/* =================================
  Flexbox
==================================== */
.container {
  display: flex;
  height: 1000px;
}


#main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 30px 0 30px;
}

.main-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* =================================
  Side menu
==================================== */
.side-nav {
  height: 20%; /* Full-height: remove this if you want "auto" height */
  width: 10px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  top: 0;
  right: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  margin-top: 300px;
  padding-right: 10px;
}

.side-nav li {
  list-style: none;
}
.side-nav a {

  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.side-nav a:hover {
  color: #f1f1f1;
}
