/*--------------- Global Variable ----------------*/
* {
  font-family: neue-haas-grotesk-display, sans-serif;
}

/*--------------- test ----------------*/

section {
  border: 1px solid red;
}

/*--------------- font ----------------*/
h1 {
  font-size: 18em;
}
h2 {
  font-size: 9em;
}
img {
  color: #ffffff;
  text-decoration: none;
}
a {
  color: #ffffff;
  text-decoration: none;
}

/*--------------- Layout ----------------*/
body {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  background-color: #000000;
}

/* HUNDRED DIV */
#coverDIV {
  height: 1000px;
  text-align: center;
}

/* NOT HUNDRED DIV */
#mainDIV section {
  height: 1200px;
}

#not-hundredDIV {
  display: flex;
  flex-direction: row-reverse;
}

#mainDIV {
  width: 95%;
}

#sideNAV {
  width: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#mainNAV {
  display: flex;
  justify-content: space-between;
}

#mainNavImgs {
  display: flex;
  justify-content: space-between;
}

/* INTRO */
#introduceSEC {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#introduceSEC h2 {
  margin: 0;
}

/* PHOTO */
#photoSEC {
  display: flex;
  flex-direction: row-reverse;
}

#photoH2s {
  width: -30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#photoH2s h2 {
  margin: 0;
}

#profilePhotoIMG {
  align-self: center;
}

/* HOBBY */
#hobbySEC {
  display: flex;
}

#hobbyH2s {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
}

#hobbyH2s h2 {
  margin: 0;
}

#hobbyPs {
  width: 70%;
  align-self: center;
}

/* SKILL */
#skillSEC {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex;
}

#skillRightSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#skillH2s {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#skillH2s h2 {
  margin: 0;
}

#skillListDIV {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* CONTACT */
#contactSEC {
  display: flex;
}

#contactH2s {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#contactH2s h2 {
  margin: 0;
}

#contactPs {
  align-self: center;
}

/* FOOTER */
footer {
  text-align: center;
}
