/*------- Global Variable --------*/
* {
  font-family: neue-haas-grotesk-display, sans-serif;
}


/*------- Layout --------*/
body {
  display: flex;
}

#mainNAV {
  display: flex;
}

#photoSEC {
  display: flex;
}

#hobbySEC {
  display: flex;
}

#skillSEC {
  display: flex;
}

#contactSEC {
  display: flex;
}