/*--------------- Global Variable ----------------*/
* {
  font-family: neue-haas-grotesk-display, sans-serif;
}

/*--------------- font ----------------*/
h1 {
  font-size: 18em;
}
h2 {
  font-size: 9em;
}
img {
  color: #ffffff;
  text-decoration: none;
}
a {
  color: #ffffff;
  text-decoration: none;
}

/*--------------- Layout ----------------*/
body {
  display: flex;
  flex-direction: column;
  overscroll-behavior: none;
  color: #ffffff;
  background-color: #000000;
}

/* HUNDRED DIV */
#hundredDIV {
  background-image: url("../img/mainCover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#mainNAV {
  display: flex;
  justify-content: space-between;
}
#mainNavA {
  margin: 5px 0 0 10px;
  color: #8a8a8a;
  font-size: 20px;
}
#mainNavImgs {
  display: flex;
  justify-content: space-between;
}
#mainNavImgs img {
  margin-top: 5px;
}
.githubIMG {
  width: 30px;
  margin-right: 15px;
}
.instaIMG {
  width: 30px;
  margin-right: 10px;
}

#coverDIV {
  height: 1000px;
  text-align: center;
}
#downArrowIMG {
  width: 40px;
  position: relative;
  animation-name: ArrowAnimation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}

/* NOT HUNDRED DIV */
#mainDIV section {
  height: 1200px;
}
#not-hundredDIV {
  display: flex;
  flex-direction: row-reverse;
}
#mainDIV {
  width: 95%;
}
#sideNAV {
  width: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* INTRO */
#introduceSEC {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#introduceSEC h2 {
  margin: 0;
}

/* PHOTO */
#photoSEC {
  display: flex;
  flex-direction: row-reverse;
}
#photoH2s {
  width: -30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#photoH2s h2 {
  margin: 0;
}
#profilePhotoIMG {
  align-self: center;
}

/* HOBBY */
#hobbySEC {
  display: flex;
}
#hobbyH2s {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
}
#hobbyH2s h2 {
  margin: 0;
}
#hobbyPs {
  width: 70%;
  align-self: center;
}

/* SKILL */
#skillSEC {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex;
}
#skillRightSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#skillH2s {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#skillH2s h2 {
  margin: 0;
}
#skillListDIV {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* CONTACT */
#contactSEC {
  display: flex;
}
#contactH2s {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
}
#contactH2s h2 {
  margin: 0;
}
#contactPs {
  width: 70%;
  align-self: center;
}

/* FOOTER */
footer {
  text-align: center;
}

/* The animation code */
@keyframes ArrowAnimation {
  0% {
    top: 0px;
  }
  100% {
    opacity: 0;
    top: 100px;
  }
}
